*.o
*.zip
*.tar.gz

gpu/bin/*
gpu/*.bmp

mpi/asp/asp-par
mpi/asp/asp-seq
mpi/asp/results_par
mpi/asp/results_seq
mpi/asp/results_mpi
mpi/asp/KIC_SEQ_OUTPUT
mpi/asp/kic.test.out
mpi/asp/kic.test.err
mpi/asp/kic.test.diff

java/results
java/*.out
java/*.err
java/lib/*
